.cont{
    display: inline-flex;
    padding-left: 1050px;
}
.super{
    background-color: lightgrey;
    margin-bottom: 20px;
}
button{
    background-color: transparent;
    border: none;
    height: 50px;
    position: relative;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
}